

/* Media query */
/* MOBILE — 576px */
@media (max-width: 36rem) {
/* header */
    .header h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;

}

.header p {
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

/* search */
.search-box {
    gap: 0.7rem;
    margin-top: 0.5rem;
}

.search-box input {
    width: 20rem;
}

.search-box button{
    padding: 1.1rem 1.8rem;
}


/* Weather conditions */
.temperature {
    gap: 0.5rem;
}

.temperature span {
    font-size: 4rem;
}

.temperature strong {
    font-size: 1.2rem;
}

.temperature p {
    font-size: 1.1rem;
}

.current-weather {
    margin-top: 2.5rem;
}


/* Weather icon */
.weather-icon {
    font-size: 7rem;
}

.weather-details {
    font-size: 0.8rem;
}

/* forecast */
.forecast-card {
    padding-right: 1.5rem;
    min-width: 0;
    /* overflow: hidden; */
}

.forecast-card .day {
    text-align: start;
    font-size: 1rem;
    color: #c3cadc;
}

.forecast-icon {
    font-size: 2.5rem;
}

.forecast-card h3 {
    font-size: 0.6rem;
    font-weight: 300;
}

.forecast-condition {
    font-size: 0.8rem;
}

.forecast{
    margin-top: 4rem;
}

}

/* 372pixels */
@media (max-width: 24rem) {

    .forecast-icon {
    font-size: 2rem;
}

 .forecast-card h3 {
    font-size: 0.5rem;
    font-weight: 300;
}

.forecast-condition {
    font-size: 0.7rem;
}

}